@()
<div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="@routes.PageController.index()">Create Paste</a></li>
                    <li><a href="@routes.PageController.about()">About</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="@routes.ContentController.random()">Random Paste</a></li>
                    <li><a href="@routes.PageController.api()">API</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="@routes.ContentController.search()">Search</a></li>
                    <li><a href="https://github.com/trevorsibanda/my-own-x">GitHub</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Other link</a></li>
                    <li><a href="#">Last link</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
              Pasty - A small pastebin written in Scala.<br/>Elastic Search, MySQL, SLICK, Play! 
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">
                
                <div class="col-auto">
                  <a href="https://github.com/trevor-sibanda/my-own-x" class="btn btn-outline-primary btn-sm">Fork me on GitHub</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Site layout based on <a href="//github.com/tabler/tabler.git">Tabler</a>. theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a> All rights reserved.
            </div>
          </div>
        </div>
      </footer>
      
      
<script type="text/javascript"></script>