@()
<script src="@routes.Assets.versioned("js/pastes.js")" ></script>    
<div class="card" style="min-height: 50vh; height: 50vh;" id="recent_pastes">
          <div class="card-header">
            <h3 class="card-title">Recent Pastes</h3>
          </div>
          <div class="table-responsive" >
            <table  class="table table-striped card-table table-vcenter text-nowrap">
              
              <tbody>
                <tr  > 
                  <td><a href="invoice.html" class="text-inherit" v-bind="exchange.name">Design Works</a></td>
                  <td><span class="text-muted">5 minutes ago</span></td>
                </tr>
      
              </tbody>
            </table>
          </div>
      </div>
      
 